<div class="row">
    <% @books&.each do |book| %>
    <div class="col-md-2 col-lg-4">
        <div class="card">
        <%= image_tag book.image.to_s, size: '300x300', class:"card-img-top"%>
        <div class="card-body">
            <h4 class="card-title"><%=book.title%></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%=book.publisher%></h6>
            <p class="card-text">タグ、タグ、タグ、タグ</p>
            <%= link_to '取引詳細', top_path(book.id), class: "btn btn-success" %>
        </div>
        </div>
    </div>
    <% end %>
</div>
