<h1>本詳細</h1>
<div class="card">
  <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">
      ほしいボタンをクリックすると、注文表が発行される
    </p>
    <a href="#!" class="btn btn-primary">ほしい</a>
  </div>
</div>
