@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "tempusdominus-bootstrap-4.css";
@import "bootstrap";

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
